.formulario{
    background-color: rgb(108, 117, 114);
    border:5px solid black;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
.inputito{
    width: 400px;
}

.navegacion{
    background-color: rgb(60, 60, 102);
    margin: 20px;
    border: 5px solid yellow;
    
}
p{
    color: gold;
}